pipeline/serving_all.json
{
	"name": "serving_all",
	"properties": {
		"activities": [
			{
				"name": "Lookup paths",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [dbo].[ADFmetadata]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup paths",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup paths').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "append update",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "fetch records",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/abury@thinkport.digital/azure_data_lake_tutorial/history_app_up",
								"baseParameters": {
									"raw_path": {
										"value": "@item().raw_path",
										"type": "Expression"
									},
									"transform_path": {
										"value": "@item().transform_path",
										"type": "Expression"
									},
									"serving_path": {
										"value": "@item().serving_path",
										"type": "Expression"
									},
									"primary_key": {
										"value": "@item().primary_key",
										"type": "Expression"
									},
									"file_name": {
										"value": "@item().file_name",
										"type": "Expression"
									},
									"pipeline": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "fetch records",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/abury@thinkport.digital/azure_data_lake_tutorial/fetch_stock_data",
								"baseParameters": {
									"symbol": {
										"value": "@item().symbol",
										"type": "Expression"
									},
									"file_name": {
										"value": "@item().file_name",
										"type": "Expression"
									},
									"raw_path": {
										"value": "@item().raw_path",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}